<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Alunos</title>
  <link rel="stylesheet" href="cad.css">
   <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

  <div class="container">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

    <h1>CADASTRO DE ALUNO</h1>

    <!-- Formulário -->
    <div class="form">
      <form th:action="@{/aluno/cadastrar}" th:object="${aluno}" method="post">
          <label for="usuario">Usuario (Aluno já cadastrado):</label>
          <select id="usuario" th:field="*{usuario.id}" required> 
               <option value="">-- Selecione um aluno --</option>
    <option th:each="u : ${usuariosAluno}" th:value="${u.id}" th:text="${u.nome}"></option>
</select>
        <div>
          <label for="matricula">Matrícula:</label>
          <input type="text" id="matricula" name="matricula" placeholder="Digite a matrícula" data-validate="matricula" required>
        </div>

        <div>
          <label for="responsavel">Responsável:</label>
          <input type="text" id="responsavel" name="responsavel" placeholder="Digite o nome do responsável" data-validate="nome" required>
        </div>

        <div>
          <label for="turma">Turma:</label>
          <input type="text" id="turma" name="turma" placeholder="Digite o nome da turma" required>
        </div>

        <div class="btn">
    <button type="button" th:onclick="|window.location.href='@{/menu}'|">Voltar</button>
    <button type="submit">Cadastrar</button>
    <button type="button" th:onclick="|window.location.href='@{/responsavel/cadastro}'|">Cadastrar Reponsável</button>
    </div>

        <!-- Mensagem de sucesso -->
        <div th:if="${param.sucesso}">
          <p style="color:green;">Aluno cadastrado com sucesso!</p>
        </div>
        <!-- Mensagem de erro de matrícula duplicada -->
        <div th:if="${param.erro}">
          <p style="color:red;">Matrícula já cadastrada!</p>
        </div>
      </form>
    </div>
  </div>


</body>
</html>
