<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Professor</title>
        <link rel="stylesheet" th:href="@{/cad.css}">
</head>
<body>
<div class="container">
    <div class="line"></div><div class="line"></div><div class="line"></div>
      <h1>CADASTRO DE PROFESSOR</h1>

  <form th:action="@{/professor/salvar}" th:object="${professor}" method="post">
    
    <label for="usuario">Usuário (Professor já cadastrado):</label>
    <select id="usuario" th:field="*{usuario.id}" required>
  <option value="">-- Selecione um professor --</option>
  <option th:each="u : ${usuariosProfessores}" 
          th:value="${u.id}" 
          th:text="${u.nome}"></option>
    </select>
    </select>

    <label for="materia">Matéria:</label>
    <input type="text" id="materia" th:field="*{materia}" required>

    <br><br>
    <button type="submit">Cadastrar</button>
    <button type="button" th:onclick="|window.location.href='@{/professor}'|">Voltar</button>
    <button type="button" th:onclick="|window.location.href='@{/professor/listar}'|">Listar</button>
  </form>
</div>
</body>
</html>
